@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.question-box {
  width: 80vw;
  margin: 12px;
  padding: 6px;
  border: 2px solid gray;
}

#answers button {
  width: 150px;
}